<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedQuestion?.name}}</h1>
  </div>
  <br>
  <hr>

  <div class="col-xs-12">
    <h5>{{selectedQuestion?.description}}</h5>
  </div>
  <div class="row" *ngIf="!answerButtonHide">
    <button class="btn btn-success" id="answernow" (click)='display()'>Answer Now</button>
  </div>
</div>

<hr>
<div class="col-xs-12">

  <div class="form-group " *ngIf="answerTextBoxFlag">
    <textarea class="form-control" rows="5" id="comment" required></textarea>
    <button type="button" class="btn btn-primary">Post</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of selectedQuestion?.answers">
        {{item.name}} )
      </li>
    </ul>
  </div>
</div>